body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-color: darkgreen;
  border-radius: 10px;
  border-style: ridge;
  width: 500px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.top {
  display: flex;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
